config.py
flights.db.wal
ads.db
*.wal
dump1090
*.pyc
dump1090-fa
dump_1090_history.json
dump_1090_history_processed.json
test
archive/dump1090_history.tar.gz
.vscode/settings.json
flights.db
flights.db
flights 2.db
flights.db
*.db
.DS_Store
*.db
flights.db
archive
process_json
process_json
